

<div>
  
</div>

<div class="card text-center card-width-component">
  <div class="card-header">
  
  </div>

  <div class="card-body">
    <h5 class="card-title">Login</h5>
    

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <p class="card-text">Email:</p>
      <input ngModel type="text" id="userProfile" name="email" placeholder="Email" />
      <br />
      <br />
      <p class="card-text">Password:</p>
      <input ngModel type="password" id="userProfile" name="password" placeholder="password" />
      <br />
      <br />
      <input type="submit" />
    </form>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>