

<div class="card text-center card-width-component">
  <div class="card-header">
  
  </div>

  <div class="card-body">
    <h5 class="card-title">Recipe</h5>
    <p class="card-text">{{singleRecipe.label}}</p>
    <p class="card-text">Translation: {{pose.english_name}}</p>
    <img src="{{singleRecipe.image}}">
    <p class="card-text">Total Calories: {{singleRecipe.calories}}</p>
    <p class="card-text">Servings Yield: {{singleRecipe.yield}}</p>
    <p class="card-text">Calories Per Serving: {{singleRecipe.servingcalories}}</p>
    <!--Need to hide this if time to prep is reported as zero from the API observable-->
    <p class="card-text">Time to Prepare:{{singleRecipe.totalTime}} minutes</p>
    <a href="{{singleRecipe.url}}">Recipe Instructions from {{singleRecipe.source}}</a>
    <img class="image" src="{{pose.img_url}}" />
    <a href="#" class="btn btn-primary">Sign up</a>
    <br />
    <br/>
    <a href="#" class="btn btn-primary">Log in</a>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>