

<!--These components are only added in as API testing remnants, they currently function but this home page is not where they would actually be stored,
  Once we start to reconfigure the front end towards its final form these will have to be moved to the dashboard, and the User registration/Log in splash
  Should be the first page as I understand currently -Troy-->
<!--<app-user-profile></app-user-profile>-->



<!--I think the *ngIf with the async pipe should load this div if the user is logged in but i'm not sure 100% and I can't test it from
  this IP address
*ngIf="isAuthenticated() | async"-->
<div *ngIf="isLoggedIn">
  <app-dashboard></app-dashboard>
</div>
<div *ngIf="!isLoggedIn">
  <app-guest-dash></app-guest-dash>
</div>









