


<div class="card text-center card-width-dashboard">
  
  <div class="card-header">
  
  </div>
  <div id="welcome">
    <div class="vertical-center">
    <br/>
      <h2>You Are...</h2>
    <h1>Project One</h1>
  </div>
  </div> 
  <div class="card-body">
  




<div class="card text-center card-width-component">
  <div class="card-header">
  
  </div>

  <div class="card-body">



<p> Please Input Philosophy</p>
<div>
  <form #guestprefForm="ngForm" (ngSubmit)="getGuestReccomendations(guestprefForm)">
    <input ngModel type="text" id="searchTerm" name="searchTerm" placeholder="Enter Search Term Here" />

    <br />
    <br />


    <select ngModel name="foodRegimen">
      <option value="vegan">Vegan</option>
      <option value="keto-friendly">Keto</option>
      <option value="paleo">Paleo</option>
      <option value="egg-free">Egg Free</option>
      <option value="fodmap-free">FODMAP Free</option>
      <option value="gluten-free">Gluten Free</option>
      <option value="kosher">Kosher</option>
      <option value="tree-nut-free">Tree Nut Free</option>
      <option value="low-sugar">Low Sugar</option>
      <option value="soy-free">Soy Free</option>
      <option value="kidney-friendly">Kidney Friendly</option>
      
    </select>

    <br />
    <br />
    <select ngModel name="philosophySchool">
      <option value="Stoic">Stoic</option>
      <option value="Kanye">Kanye</option>
      <option value="Buddha">Buddha</option>
    </select>

    <br />
    <br />
    <input type="submit" />
  </form>
</div>

</div>
<div class="card-footer text-muted">
  
</div>
</div>



<div class="card text-center card-width-component">
  <div class="card-header">
  
  </div>

  <div class="card-body">

<div>
  <div *ngIf="isRecipeSearchDone">
    <p>Recipe Label: {{recipe.label}}</p>
    <img src="{{recipe.image}}">
    <p>Total Calories: {{recipe.calories}}</p>
    <p>Servings Yield: {{recipe.yield}}</p>
    <p>Calories Per Serving: {{recipe.servingcalories}}</p>
    <!--Need to hide this if time to prep is reported as zero from the API observable-->
    <p>Time to Prepare:{{recipe.totalTime}} minutes</p>
    <a href="{{recipe.url}}">Recipe Instructions from {{recipe.source}}</a>



  </div>

  <br />
  <br />


  <div *ngIf="isCurrentPhilosophyStoic">
    <p>Quote</p>
    <p>"{{quote[0].body}}"</p>
    <p>-{{quote[0].author}}</p>
  </div>
  <div *ngIf="isCurrentPhilosophyKanye">
    <p>"{{quote.quote}}"</p>
    <p>Author: Kanye West</p>
  </div>
  <div *ngIf="isCurrentPhilosophyBuddha">
    <p>"{{quote.quote}}"</p>
    <p> -{{quote.author}}</p>
  </div>
</div>


</div>
<div class="card-footer text-muted">
  
</div>
</div>


<br />
<br />
<br />
<br />

</div>
<div class="card-footer text-muted">
  
</div>
</div>