<h2> Register User Profile</h2>

<div>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <input ngModel type="text" id="userProfile" name="email" placeholder="Email" />
    <br />
    <br />
    <input ngModel type="password" id="userProfile" name="password" placeholder="password" />
    <br />
    <br />
    <input ngModel type="text" id="userProfile" name="firstName" placeholder="First Name" />
    <br />
    <br />
    <input ngModel type="date" id="userProfile" name="birthDate" placeholder="Birth Date" />
    <br />
    <br />
    <input ngModel type="text" id="userProfile" name="mantra" placeholder="Mantra" />
    <br />
    <br />
    <div>
      <select ngModel name="foodRegimenFk">
        <option value="1">Vegan</option>
        <option value="2">Keto</option>
        <option value="3">Paleo</option>
        <option value="4">Egg Free</option>
        <option value="5">FODMAP Free</option>
        <option value="6">Gluten Free</option>
        <option value="7">Kosher</option>
        <option value="8">Tree Nut Free</option>
        <option value="9">Low Sugar</option>
        <option value="10">Soy Free</option>
        <option value="11">Kidney Friendly</option>
      </select>
    </div>
    <br />
    <br />
    <div>
      <select ngModel name="philosophySchoolFk">
        <option value="1">Stoic</option>
        <option value="2">Kanye</option>
        <option value="3">Buddha</option>
      </select>
    </div>
    <br />
    <br />
    <input type="submit" />
  </form>
</div>
